*{
  background-color: whitesmoke;
}
.header{
  font-size: 50px;
  text-align: center;
}
.Vheader{
  font-size: 50px;
  text-align: center;
}
.data{
  font-size: 20px;
  padding-left: 25px;
  
  
  gap: 25px;
  text-align: center;
}
.id{
  color: red;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.value{
  color: green;
}
