*{
  background-color: whitesmoke;
}
.header{
  font-size: 50px;
  text-align: center;
}
.data{
  font-size: 20px;
  padding-left: 25px;
  display: flex;
  /*justify-content: space-around;*/
  gap: 25px;

  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.id{
  color: red;
}
.value{
  color: green;
}
